<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=ADMIN-FACULTY\SQLEXPRESS;Initial Catalog=cards;Integrated Security=True" />
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\cards.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
