<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=f1c5305a-333a-45a4-9805-a38000a59f63.sqlserver.sequelizer.com;Database=dbf1c5305a333a45a49805a38000a59f63;User ID=sedhgmknozlfitep;Password=N7qy6mkdKmuRKMk3pWbj8k7JwmR4utLnzEPxkdqF8ePcjQ45SF6DSbKB8NbTBpRq;" />
  </connectionStrings>
</configuration>
